/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .bg-sidebar {
    background-color: #202222;
  }
  .bg-chatarea {
    background-color: #191a1a;
  }
}

* {
  /* font-family: "Edu NSW ACT Hand Pre", cursive !important; */
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

/* Override default styles */
.cl-cardBox {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
}

.global-spinner .ant-spin-dot-item {
  background-color: #000 !important;
}

.ant-drawer-content {
  background-color: #202222 !important;
}

.anticon-close,
.ant-drawer-title {
  color: #fff !important;
}

/* scroll bar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #191a1a;
}

::-webkit-scrollbar-thumb {
  background: #424242;
}
